body, html {
  background-color: #0f0f0f;
  color: white;
  font-family: 'Baloo Tammudu 2';
}

a, a:hover, a:active, a:visited {
  color: #1dafec;
}

#wave-emoji {
  font-size: 50px;
  margin-left: -50px;
  margin-right: 16px;
}

.jose-picture {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
